<div class="container__big-card">

  <div class="big-card__photo">
    <img 
    src="https://miro.medium.com/v2/resize:fit:1200/0*FXxXHe5eVfn1T4Rf.png" 
    alt=""
    width="500"
    height="300"
    >
  </div>

  <div class="big-card__span">
    <span>January,2022</span>
  </div>

  <div class="big-card__title">
    <h2>JavaScript: o que é, como funciona e por que usá-lo no seu site</h2>
  </div>

  <div class="big-card__descript">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Donec bibendum sodales sodales. Cras sit amet enim elementum, gravida nisl et, dictum nisi. Nullam non laoreet velit, eu tempor nisl. 
      Nullam venenatis vitae quam eget condimentum. Integer volutpat mauris vel mauris aliquet mattis. Suspendisse tincidunt, enim in sollicitudin elementum. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>

</div>
