.container__big-card {
  /* border: solid #fff 2px; */
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.big-card__photo {
  margin-top: 40px;
  margin-left: 50px;
}

.big-card__span {
  color: #464646;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 48px;
  font-weight: bold;
}

.big-card__title {
  width: 66%;
  margin-top: 6px;
  margin-left: 48px;
  font-size: 15px;
  color: #fff;
}

.big-card__descript {
  width: 80%;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 48px;
  color: #BABABA;
  font-weight: bold;
}